<div class="hero-shot">
  <div class="hero-shot-color-overlay">
    <div class="container">
      <div class="content-md">

        <div style="text-align:center;padding-top:30px;">
          <h1 style="color: #fff;text-align:center;">现在出发，追回过去虚度的二十年</h1>
          <h4 style="color:#fff;text-align:center;">学习一项新技能，为你的人生开个挂</h4>
          <%= link_to("马上挑选优质时间", products_path, :class => "btn btn-primary btn-lg btn-danger", :style => "font-size:18px;") %>
        </div>
    </div>
    </div>
  </div>
</div>

<!-- Features -->
<div class="container">
  <div class="section-seperator">
  <div class="content-md">
    <div class="row">
      <div style="text-align:center;padding-bottom: 50px;">
        <h2 style="color: #000;text-align:center;">知识服务领域最有参考价值的购物指南</h2>
        <p style="font-size:16px;width:40%;margin-right:auto;margin-left:auto;">Time-Ex 所有上架的商品均由真实用户推荐、专人审核，接受真实用户的打分评价</p>
      </div>
      <div class="col-sm-4 sm-margin-b-50">
        <div class="bg-color-white margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
              <%= link_to products_path do %>
                <img class="img-circle img-value" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-brag-about-customer-service-training.png" alt="Prouct Image">
              <% end %>
            </div>
        </div>
        <div style="width:80%;">
          <h3 style="text-align:center;">用户推荐</h3>
          <p>Time-Ex 每上架一件商品都必须先由3位以上真实用户推荐</p>

        </div>
      </div>
      <div class="col-sm-4 sm-margin-b-50">
        <div class="bg-color-white margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
              <%= link_to products_path do %>
                <img class="img-circle img-value" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-retention-marketing-stats.png" alt="Prouct Image">
              <% end %>
            </div>
        </div>
          <div style="width:80%;">
            <h3 style="text-align:center;">专人审核</h3>
            <p>Time-Ex 上架商品前，由专人对其真实性进行审核把关</p>

          </div>
      </div>
      <div class="col-sm-4">
        <div class="bg-color-white margin-b-20">
            <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
              <%= link_to products_path do %>
                <img class="img-circle img-value" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-icon-app.png" alt="Prouct Image">
              <% end %>
            </div>
        </div>
        <div style="width:80%;">
            <h3 style="text-align:center;">真实评价</h3>
            <p>Time-Ex 的每一件商品均接受和保留真实用户的每一条评价</p>

        </div>
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Features -->
</div>

<!-- comments -->
<div class="bg-color-sky-light">
  <div class="container">
    <div class="content-md">
      <div style="padding-bottom:30px;text-align:center;">
        <h2 style="color: #000;">大家怎么说</h2>
      </div>
      <div class="row">
        <div class="col-sm-4 sm-margin-b-50" style="text-align:center;">
          <p style="width:70%;height:120px;　margin-left:auto;margin-right:auto;text-align:left;font-size:18px;">“网上的知识服务繁杂众多，看花了眼，Time-Ex 则是汇聚了精品。”</p>

          <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-touxiang-2017.jpeg" alt="user1" class="img-circle user">

          <h4 style="font-size:18px;">李安 <span>@an-lee</span></h4>
          </div>

        <div class="col-sm-4 sm-margin-b-50" style="text-align:center;">
          <p style="width:70%;height:120px;　margin-left:auto;margin-right:auto;text-align:left;font-size:18px;">“Time-Ex 上架的商品都有质量保证，因为有着真实用户的评价可以参考。我自己也经常在上面写评论。”</p>
          <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-21-hanyanbo.jpg" alt="user1" class="img-circle user" style="text-align:center;">
          <h4 style="font-size:18px;">韩艳波 <span>@meiputi</span></h4>
          </div>

          <div class="col-sm-4 sm-margin-b-50" style="text-align:center;">
            <p style="width:70%;height:120px;　margin-left:auto;margin-right:auto;text-align:left;font-size:18px;">“人通过学习可以改变人生，如果找到好的师傅，可以让学习加速，改变很多次人生。我来Time-Ex找这样的师傅。”</p>
            <img src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-03-05-WechatIMG2.jpeg" alt="user1" class="img-circle user" style="text-align:center;">
            <h4 style="font-size:18px;">杨名流<span>@moliao2012</span></h4>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- end comments -->

<!-- classic product -->

<div class="container">
  <div class="section-seperator">
      <div class="content-md">
        <div style="padding-bottom:30px;text-align:center;">
          <h2 style="color: #000;">优质时间推荐</h2>
          <p style="font-size:16px;width:40%;margin-right:auto;margin-left:auto;">知识太多，时间太少。我们为您精选了新时代里最优质的知识，将别人的时间转化为您的生命。</p>
        </div>

          <!--// end row -->

          <div class="row">
              <!-- product -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="bg-color-white margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <%= link_to products_path do %>
                          <img class="img-responsive" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-18-xinshengdaxue.png" alt="Prouct Image">
                        <% end %>
                      </div>
                  </div>
                  <h4><a href="#">新生大学</a> <span class="text-uppercase margin-l-20">知识型社群</span></h4>
                  <p>这里集聚着一批以持续、自主、升级自我为乐的人。我们尊重知识，追求进步。我们相信通过学习获得重生。对我们来说，七年就是一辈子。</p>
                  <%= link_to "Read More", products_path, class:"link" %>
              </div>
              <!-- End product -->

              <!-- product -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="bg-color-white margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <%= link_to products_path do %>
                          <img class="img-responsive" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-18-mj.png" alt="Prouct Image">
                        <% end %>
                      </div>
                  </div>
                  <h4><a href="#">超级数字力</a> <span class="text-uppercase margin-l-20">只要懂中文就看得懂財報</span></h4>
                  <p>林明樟老師將完全顛覆您過去對財務報表枯燥無趣的刻板印象，透過生活常識與遊戲化引導與活潑有趣的真實案例解析！」</p>
                  <%= link_to "Read More", products_path, class:"link" %>
              </div>
              <!-- End product -->

              <!-- product -->
              <div class="col-sm-4 sm-margin-b-50">
                  <div class="bg-color-white margin-b-20">
                      <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                        <%= link_to products_path do %>
                          <img class="img-responsive" src="http://okgqgpbx3.bkt.clouddn.com/blog/2017-02-18-quanzhanying.png" alt="Product Image">
                        <% end %>
                      </div>
                  </div>
                  <h4><a href="#">全栈营</a> <span class="text-uppercase margin-l-20">一年蜕变全栈工程师</span></h4>
                  <p>由两岸知名的 Rails 教练郑伊廷、天使投资人李笑来共同主持。我们以认知心理学为基石，旨在为未来培养出一批能够快速贯通编程理念并灵活实践的全栈工程师。</p>
                  <%= link_to "Read More", products_path, class:"link" %>
              </div>
              <!-- End product -->


          </div>
          <!--// end row -->
      </div>
  </div>
</div>

<!-- End product -->

<!-- call to action -->
<div class="action-bar">
  <div class="action-bar-overlay">
    <div style="text-align:center;padding-top:50px;">

      <h3 style="color:#fff;text-align:center;">学习一项新技能，为你的人生开个挂</h3>
      <%= link_to("马上挑选优质时间", products_path, :class => "btn btn-primary btn-md btn-danger", :style => "font-size:16px;") %>
    </div>
  </div>
  </div>
</div>

<!-- end call to action -->
