<div class="container">
  <div class="content">
    <div class="filters-bar">
        <!-- nav-tabs -->
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="all" href="#home">All</a></li>
          <li><a data-toggle="tab" href="#1hour">One Hour</a></li>
          <li><a data-toggle="tab" href="#1day">One Day</a></li>
          <li><a data-toggle="tab" href="#1week">One Week</a></li>
          <li><a data-toggle="tab" href="#3month">Three Months</a></li>
          <li><a data-toggle="tab" href="#1year">One Year</a></li>
          <li><a data-toggle="tab" href="#7year">Seven Years</a></li>
        </ul>
        <!-- .nav-tabs-->
        <!-- tab-content -->
      <div class="tab-content">
        <div id="all" class="tab-pane fade in active">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- -->
        <div id="1hour" class="tab-pane fade">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products_a.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- -->
        <div id="1day" class="tab-pane fade">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products_b.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- -->
        <div id="1week" class="tab-pane fade">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products_c.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
          </div>
        <!-- -->
        <div id="3month" class="tab-pane fade">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products_d.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
          </div>
        <!-- -->
        <div id="1year" class="tab-pane fade">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products_e.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
          </div>
        <!-- -->
        <div id="7year" class="tab-pane fade">
          <div class="content-md col-md-12" style="text-align:center;">
            <div class="row">
              <% @products_e.each do |product| %>
                <div class="col-xs-12 col-md-3" style="margin-bottom: 30px;">
                  <% if product.image.present? %>
                    <%= link_to image_tag(product.image.thumb.url),product_path(product) , class:"thumbnail" %>
                  <% else %>
                    <%= link_to image_tag("http://placehold.it/200x200&text=No Pic"),product_path(product) , class:"thumbnail" %>
                  <% end %>
                <%= product.title %> <span style="color:#ef0568;">  ¥<%= product.price %></span>
              </div>
              <% end %>
            </div>
          </div>
          </div>

      </div>
        <!-- .tab-content -->
    </div>
  </div>
</div>
