<div class="container">
  <div class="col-sm-8">
    <main>
      <div class="item-details">
        <div class="item-title">
          <h2 style="text-align:center;"><%= @product.title %></h2>
          <p style="text-align:center;"><%= @product.description %></p>
        </div>
        <!-- nav-tabs -->
      <ul class="nav nav-tabs nav-justified">
          <li class="active"><a data-toggle="tab" href="#product">产品</a></li>
          <li><a data-toggle="tab" href="#post">评测</a></li>
          <li><a data-toggle="tab" href="#comment">讨论</a></li>
        </ul>
      </div>
      <!-- .nav-tabs-->

      <!-- tab-content -->
      <div class="tab-content content-sm">
        <div id="product" class="tab-pane fade in active">
          <div>
            <% if @product.image.present? %>
              <%= image_tag(@product.image.medium.url, class:"thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
            <% end %>
          </div>
        </div>
        <div id="post" class="tab-pane fade">
          <p>暂无评测</p>
        </div>
        <div id="comment" class="tab-pane fade">
          <p>暂无讨论</p>
        </div>
      </div>

    </main>
  </div>

  <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
    <aside>

      <div style="height:100px;">

      </div>
      <b>
        库存: <%= @product.quantity %>
      </b>
      <div class="item-price">
        ¥ <%= @product.price %>
      </div>
      <div>
        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("Add into Cart", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
        <% else %>
          <div class="btn btn-danger">
            Sold Out
          </div>
        <% end %>
      </div>
    </aside>
  </div>

</div>
