<div class="col-md-12">
  <hr>
  <h2><%= @review.title %></h2>
  <hr>
  <p><%= markdown(@review.body) %></p>
  <hr>
  <div class="group">
    <%= link_to('Back', url_for(:back), class: "btn btn-primary") %>
    <% if current_user && current_user == @review.user %>
      <%= link_to('Edit', edit_product_review_path(@review.product, @review), class: "btn btn-primary") %>
      <%= link_to('Delete', product_review_path(@review.product, @review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary") %>
    </div>
  <% end %>
  <hr>
</div>
